#assurance {
    border: 1px solid white;
    outline: 1px solid black;
    background-color: rgba(0, 0, 0, 0.411);
    margin-top: 5%;
    margin-left: 34%;
    width: 30%;
    padding: 1%;
}
#assurance input {
    border-radius: 15px;
	background-color: rgb(122, 217, 255);
	margin: 2% 25%;
    width: 50%;
    outline: 2px solid black;
    }
#assurance input::placeholder {
    text-align: center;
}
#resultAssurance {
    display: none;
    border: 1px solid white;
    outline: 1px solid black;
    background-color: rgba(0, 0, 0, 0.411);
    margin-top: 1%;
    margin-left: 34%;
    width: 30%;
    padding: 1%;
}